body {
  background: url('bg-road-bw.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Muli', sans-serif;
}
h1 {
  color: ;
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 0;
  font-family: 'Space Mono', sans-serif;
}
h2 {
  color: ;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
  font-family: 'Space Mono', sans-serif;
}
.bio {
  color: white;
  font-size: 14px;
 }
.me {
  height: 200px;
  border-radius: 10px;
  border-style: solid;
  margin-top: 40px;
}
.about {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.grey {
  height: 3px;
  background-color: #363636;
  border: none;
  width: 50%;
}
html{
  position:relative;
  min-height: 100%;
}
/*Normalize html and body elements,this style is just good to have*/
html,body{
  margin:0;
  padding:0;
}
.pageContentWrapper{
  margin-bottom:100px;/* Height of footer*/
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:20px;
    background:#ccc;
    text-align: center;
}
